#super-table{
   position: absolute;
}
.divKeys, .divUser {
    display: flex;
    flex-direction: row;
}
.divKeys {
    font-weight: bold;
}
.id, .index, .name, .email, .gender, .isActive,
.age, .eyeColor, .company, .phone, .address, .registered{
    padding: 3px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}
.id{
    min-width: 250px;
}
.index{
    min-width: 50px;
}
.name{
    min-width: 200px;
}
.email{
    min-width: 300px;
}
.gender{
    min-width: 100px;
}
.isActive{
    min-width: 80px;
}
.age{
    min-width: 50px;
}
.eyeColor{
    min-width: 80px;
}
.company{
    min-width: 150px;
}
.phone{
    min-width: 200px;
}
.address{
    min-width: 550px;
}
.registered {
    min-width: 300px;
}