body{
    background: #2f2f2f;
}
.title{
    font-size: 7vw;
    color: white;
    margin-left: 35vw;
    font-family: Calibri;
}
#super-table{
    background: white;
    position: absolute;
    overflow: scroll;
    height: 65vh;
    width: 60vw;
    top: 25vh;
    left: 20vw;
}
::-webkit-scrollbar{
    background: white
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: black;
}
::-webkit-scrollbar-track{
    background: #cacaca;
    border-radius: 10px;
}

.divKeys, .divUser {
    width: 2395px;
    height: 30px;
    display: flex;
    flex-direction: row;
}
.divKeys {
    background: black;
    color: white;
    font-weight: bold;
}
.id, .index, .name, .email, .gender, .isActive,
.age, .eyeColor, .company, .phone, .address, .registered{
    padding: 3px;
    font-size: 20px;
    text-align: center;
}
.id{
    min-width: 250px;
}
.index{
    min-width: 50px;
}
.name{
    min-width: 200px;
}
.email{
    min-width: 300px;
}
.gender{
    min-width: 100px;
}
.isActive{
    min-width: 80px;
}
.age{
    min-width: 50px;
}
.eyeColor{
    min-width: 80px;
}
.company{
    min-width: 150px;
}
.phone{
    min-width: 200px;
}
.address{
    min-width: 550px;
}
.registered {
    min-width: 300px;
}